@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.fontRubik {
    font-family: "Rubik", serif;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.404),rgba(0,0,0,0),rgba(0,0,0,0.5)), url(./image/banner.jpg);
}

.aboutImage {
    height: 500px;
}